<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cilys.linphoneforhotal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/style_launcher">

        <activity
            android:name=".ui.call.PhoneAc"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity android:name=".AccountAc" />

        <service android:name=".service.LinphoneService" />

        <activity android:name=".ui.call.CallNumberAc" />
        <activity android:name=".ui.home.HomeAc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.msg.MsgDetailsAc" />
        <activity android:name=".ui.food.MealAc" />
        <activity android:name=".TAc" />
        <activity android:name=".ui.prom.PromDetailsAc" />
        <activity android:name=".ui.menu.ServiceMenuAc" />
        <activity android:name=".ui.room.ControlAc" />
        <activity android:name=".ui.amen.AmenitiesCheckoutAc"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.amen.AmentiesAc" />
        <activity android:name=".ui.checkout.CheckoutAc" />
        <activity android:name=".ui.food.FoodAc"
            />
        <activity android:name=".ui.food.CheckoutAc"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".ui.msg.MsgAc" />
        <activity android:name=".ui.tv.TvRemoteAc" />

        <receiver android:name=".receiver.OpenApkReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>